# Nested Loops

#### Q. Given two digits X and Y, generate a new number by combining them such that X comes at 10s place and Y at units place.

**Example**: \
X = 5, Y = 2 

**Expected Result**: \
52

#### Quiz 1
What formula should we use to combine two digits such that they form a new number with X at 10s place and Y at units place.

**Example**: \
X = 5, Y = 2 

**Expected Result**: \
52

### Print all digits (in reverse order)
Given N, print all of its digits.

**Example**: \
792

**Result**: \
2 9 7

In [21]:
N = 792

while N > 0:
    y = N % 10
    print(y, end=' ')
    N = N // 10

2 9 7

### Given a number N, generate its reverse.
Given N, print all of its digits.

**Example:**
792

**Result:**
297


<img src="https://media.giphy.com/media/Wt6kNaMjofj1jHkF7t/giphy.gif" width="100px" />

#### Quiz 2
Fill in the blank
```py
N = 792
x = 0

while N > 0:
    y = N % 10
    x = ________
    N //= 10
    
print(x) # 297
```

In [20]:
N = 123
x = 0

while N > 0:
    y = N % 10
    x = 10*x + y
    N //= 10

print(x) # 321

321

### HCF
Given two integers A and B, print their Highest Common Factor

**Example:** \
A = 20, B = 30

**Result:** \
10

#### Quiz 3
gcd(6, 8)

#### Quiz 4
gcd(17, 51)

### Print all common factors

In [24]:
A = 150
B = 90

for i in range(1, min(A, B) + 1):
    if A % i == 0 and B % i == 0:
#         i is a factor of both A and B
        print(i, end=' ')

1 2 3 5 6 10 15 30

In [25]:
min(5, 100)

5

In [26]:
min(90, 2)

2

### GCD / HCF

In [32]:
A = 20
B = 90

gcd = 1

for i in range(1, min(A, B) + 1):
    if A % i == 0 and B % i == 0:
#         i is a factor of both A and B
#         print(i, end=' ')
#         gcd = max(gcd, i)
        gcd = i
    
print(gcd)

10

# Pattern Problems
<img src="https://www.quotemaster.org/images/30/303c61705906ed3db267aa37a343640c.jpg" width="300px" />

#### Print N stars
**N = 5** \
`*****` 

**N = 3** \
`***`

In [35]:
N = 5
for i in range(1, N + 1):
    print("*", end='')

*****

In [37]:
print("*" * 5)
# We will not be using this technique

*****

#### Quiz 5
```py
for i in range(3):
    print('*', end='')
for i in range(3):
    print('*', end='')
for i in range(3):
    print('*', end='')
```

In [38]:
for i in range(3):
    print('*', end='')
for i in range(3):
    print('*', end='')
for i in range(3):
    print('*', end='')

*********

### Print N*M stars
Given integer N, M, print N*M star grid

**N = 3, M = 4** 
```
****
****
****
```

**N = 5, M = 5**
```
*****
*****
*****
*****
*****
```

In [49]:
N = 2
M = 3

# for i in range(N)
# for i in range(100, N + 100)
for i in range(1, N+1):
#     Each iteration of the i-loop represents one row
#     Print M stars in each row
    for j in range(M):
        print("*", end='')
        
#     Once done printing the M stars, print a new line
    print() # end='\n' <- default value of end

***
***

#### Quiz 6
```py
for i in range(2):
  for j in range(1):
      print('*', end='')
  print()
```

In [50]:
# 2 rows
for i in range(2):
    # 1 col
    for j in range(1):
        print('*', end='')
    print()

*
*

#### Quiz 7
N = 1
```py
for i in range(N):
  for j in range(N):
    print('*', end='')
  print('')
```

In [52]:
N = 1
for i in range(N):
    for j in range(N):
        print('*', end='')
    print('')

*

### Stair Pattern
Given N, print the following pattern stair pattern

**N = 5**
```
*
**
***
****
*****
```

In [57]:
N = 4
for i in range(1, N+1):
    for j in range(i):
        print('*', end='')
    print()

*
**
***
****

#### Quiz 9:
```py
N = 5
for i in range(1, N+1):
    for j in range(i):
        print(j+1, end='')
    print()
```

In [59]:
N = 3
for i in range(1, N+1):
    for j in range(i):
        print(j+1, end='')
    print()

1
12
123

In [62]:
N = 3
for i in range(N):
    for j in range(i):
        print(j+1, end='_')
    print("=")

=
1_=
1_2_=

# Doubts

In [71]:
x = 1
for i in range(0, 5):
    for i in range(x):
        x = x + 1
        print(i, end=' ')
    print()

0
0 1
0 1 2 3
0 1 2 3 4 5 6 7
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15