# Pattern Problems

#### Quiz 1:
Outer loop = ? \
Inner loop = ?

Outer Loop - i-loop - Rows \
Inner Loop - j-loop - Cols

### Stair Pattern
Given N = 5, print the following pattern
```
*
**
***
****
*****
```

In [5]:
N = 6

for i in range(1, N+1):
#     In each row, we have to print exactly i-stars
    for j in range(i):
        print("*", end='')
#   After printing the stars, we print a new line
    print()

*
**
***
****
*****
******

### Inverted Stair Pattern
Given N = 5, print the following pattern
```
*****
****
***
**
*
```

In [10]:
N = 4
for i in range(1, N+1):
#     stars = N - i + 1
    for j in range(N - i + 1):
        print("*", end='')
    print()

****
***
**
*

#### Quiz 2:
**Inverted Stair Pattern:** \
What is the number of stars in each row ? \
Take row numbers as i = 1, 2, 3 ... \
Given N = 5, print the following pattern
```
*****
****
***
**
*
```

### Pattern with Spaces
Given N = 5, print the following pattern
```
*___*
*___*
*___*
*___*
*___*
```

### Mirror Stair Pattern
Given N = 5, print the following pattern
```
    *
   **
  ***
 ****
*****
```

In [20]:
N = 3

for i in range(1, N+1):
    # Print (N-i) spaces
    for j in range(N-i):
        print(" ",end='')
    # Print i stars
    for j in range(i):
        print("*", end='')
    # Print a new line after each row
    print('')

  *
 **
***

#### Quiz 3
**Mirror Stair Pattern:** \
What is the number of spaces at the starting of each row ? \
Take row numbers as i = 1, 2, 3 ... \
Example: N = 5 
```
    *
   **
  ***
 ****
*****
```

### Pyramid Pattern
For N = 5, print the following pyramid pattern
```
     *
    ***
   *****
  *******
 *********
```

In [22]:
N = 5

for i in range(1, N + 1):
    # Print (N - i) spaces
    for j in range(N - i):
        print(" ", end='')
        
    # Print (2i - 1) stars
    for j in range(2*i - 1):
        print("*", end='')
        
    # Print a new line
    print()

    *
   ***
  *****
 *******
*********

#### Quiz 4
**Pyramid Pattern:** \
What is the number of stars printing in each row ? \
Take row numbers as i = 1, 2, 3 ... \
Example: N = 5
```
     *
    ***
   *****
  *******
 *********
```

### Upper Diamond
Given N = 5, print the following pattern
```
********** // 0 spaces
****__**** // 2 spaces
***____*** // 4 spaces
**______** // 6 spaces
*________* // 8 spaces
```

In [25]:
N = 10

for i in range(1, N+1):
    # 1. Stars : N - i + 1
    for j in range(N - i + 1):
        print("*", end='')
    
    # 2. Spaces : 2*i - 2
    for j in range(2 * i - 2):
        print(" ", end='')
        
    # 3. Stars : N - i + 1
    for j in range(N - i + 1):
        print("*", end='')
        
    # 4. New line
    print()

********************
*********  *********
********    ********
*******      *******
******        ******
*****          *****
****            ****
***              ***
**                **
*                  *

#### Quiz 5
**Upper Diamond Pattern** \
What is the no of spaces in between for each row ?  \
Take row numbers as i = 1, 2, 3 ... \
Example: N = 5
```
********** // 0 spaces
****__**** // 2 spaces
***____*** // 4 spaces
**______** // 6 spaces
*________* // 8 spaces
```

### Lower diamond
Given N = 5, print the following pattern
```
*________* // 8 spaces
**______** // 6 spaces
***____*** // 4 spaces
****__**** // 2 spaces
********** // 0 spaces
```

In [31]:
N = 10


for i in range(1, N + 1):
    # 1. Stars - i
    for j in range(i):
        print("*", end='')
    
    # 2. Spaces - 2N - 2i = 2(N - i)
    for j in range(2*N - 2*i):
        print(" ", end='')
    
    # 3. Stars - i
    for j in range(i):
        print("*", end='')

    # 4. New line
    print()

*                  *
**                **
***              ***
****            ****
*****          *****
******        ******
*******      *******
********    ********
*********  *********
********************

### Hollow Triangle
**N = 6**
```
******
*___*
*__*
*_*
**
*
```

In [43]:
N = 20

# Pattern 1
# range(1, N + 1) is also correct
for i in range(N):
    print("*", end='')
print()

# Pattern 2
for i in range(1, N - 1):
    print("*", end='')
    
    for j in range(N - i - 2):
        print(" ", end='')
        
    print("*")
    
# Pattern 3
print("*")

********************
*                 *
*                *
*               *
*              *
*             *
*            *
*           *
*          *
*         *
*        *
*       *
*      *
*     *
*    *
*   *
*  *
* *
**
*

### Pattern 2

In [38]:
N = 6

for i in range(1, N - 1):
    print("*", end='')
    
    for j in range(N - i - 2):
        print(" ", end='')
        
    print("*")

*   *
*  *
* *
**

In [46]:
N = 3
for i in range(1,N+1):
    for j in range(1,i+1):
        if j < i: 
            print(j, end=' ')
        else:
            print(j, end='')
    print()

1
1 2
1 2 3

In [58]:
N = 5
for i in range(1,N+1):
    print(1, end='')
    for j in range(2,i+1):
        print("_", j, sep='', end='')
    print()

1
1_2
1_2_3
1_2_3_4
1_2_3_4_5