# 2D Lists

# map function
![](https://scaler.com/topics/images/map-in-python.webp)

#### Given a list of integers, generate a new list containing squares of all numbers

In [1]:
a = [5, 9, 1, 4, 3]

# No modifications to the original list
# Expected list is [25, 81, 1, 16, 9]

In [3]:
def square(n):
    return n * n

b = []

for x in a:
#     b.append(x * x)
    b.append(square(x))
    
print(b)

[25, 81, 1, 16, 9]

In [6]:
def square(n):
    return n * n

a = [5, 9, 1, 4, 3]
b = map(square, a)

print(b)

<map object at 0x1047279a0>

In [7]:
def square(n):
    return n * n

a = [5, 9, 1, 4, 3]
b = list(map(square, a))
# Convert map object to list

print(b)

[25, 81, 1, 16, 9]

In [8]:
def cube(x):
    return x ** 3

a = [5, 9, 1, 4, 3]
b = list(map(cube, a))

print(b)

[125, 729, 1, 64, 27]

In [11]:
def random(x):
    return x + 10

a = [5, 9, 1, 4, 3]
b = list(map(random, a))

print(b)

[15, 19, 11, 14, 13]

In [12]:
# Map function is going to call the given function with only one argument
def random(x, y):
    return x + y

a = [5, 9, 1, 4, 3]
b = list(map(random, a))

print(b)

TypeError: random() missing 1 required positional argument: 'y'

In [18]:
def random(x):
    return x + 10

a = [5, 9, 1, 4, 3]
b = tuple(map(random, a))

print(b)

(15, 19, 11, 14, 13)

#### Input parsing using int

In [19]:
l = ["10", "5", "2", "6"]

# I want l = [10, 5, 2, 6]

# for i in range(len(l)):
#     l[i] = int(l[i])

b = list(map(int, l))
print(b)

[10, 5, 2, 6]

In [ ]:
10 7 2 5 1

In [20]:
s = input()

10 7 2 5 1

In [21]:
print(s, type(s))

10 7 2 5 1 <class 'str'>

In [23]:
s = input()

l = s.split()
print(l)

b = list(map(int, l))
print(b)

['10', '7', '2', '5', '1']
[10, 7, 2, 5, 1]

In [ ]:
l = input().split()

print(l)

b = list(map(int, l))
print(b)

## One line code for reading and parsing list input

In [24]:
a = list(map(int, input().split()))

10 7 2 5 1

In [25]:
a

[10, 7, 2, 5, 1]

### Quiz 1
```py
def find_sqr(x):
    return x*x*2

l = [1, 2, 3]
res = list(map(find_sqr, l))

print(res)
```

In [26]:
def find_sqr(x):
    # 2*(x^2)
    return x*x*2

l = [1, 2, 3]
res = list(map(find_sqr, l))

print(res)

[2, 8, 18]

#### Quiz 2
```py
l = [1, 2]  
l.append(0)

  
l.append(3)  
l = l + [3]  
print(l)
```

In [27]:
l = [1, 2]  
l.append(0)
# l = [1,2,0]

l.append(3)  
# l = [1,2,0,3]
l = l + [3]  
print(l)

[1, 2, 0, 3, 3]

#### Quiz 3
```py
l = []
odi = [120, 30, 50]
l.extend(odi)
print(l)
```

In [28]:
l = []
odi = [120, 30, 50]
l.extend(odi)
print(l)

[120, 30, 50]

In [29]:
a = [2, 3]
b = [9, 10]

a.extend(b)
print(a)

[2, 3, 9, 10]

#### Quiz 4
```py
l = []
odi = [120, 30, 50]
l.append(odi)
print(l)
```

In [30]:
l = []
odi = [120, 30, 50]
l.append(odi)
print(l)

[[120, 30, 50]]

In [32]:
l[0]

[120, 30, 50]

In [31]:
a = [2,3]
b = [5,6]
a.append(b)
print(a)

[2, 3, [5, 6]]

## 2D Lists
![](https://scaler.com/topics/images/2d-array-python.webp)

In [42]:
a = [
    [10, 20], # Row 0
    [30, 40], # Row 1
    [50, 60], # Row 2
    [70, 80], # Row 3
    [90, 100], # Row 4
    [110, 120],
    [130, 140],
    [150, 160]
]
# a is a list of lists = 2 Dimensional List
# Each of the sublist is representing a row

In [43]:
a

[[10, 20],
 [30, 40],
 [50, 60],
 [70, 80],
 [90, 100],
 [110, 120],
 [130, 140],
 [150, 160]]

In [35]:
print(a[0])

[10, 20]

In [36]:
a[1]

[30, 40]

In [37]:
a[2]

[50, 60]

In [38]:
a[0]

[10, 20]

In [39]:
a[0][1]

20

In [47]:
a = [
    [10, 20], # Row 0
    [30, 40, 67], # Row 1
    [50, 60, 56, 345], # Row 2
    [70, 80, 11], # Row 3
    [90], # Row 4
]

In [45]:
len(a) # No of rows

5

In [46]:
len(a[0]) # No of columns in Row 0

2

In [48]:
len(a[1])

3

In [1]:
nums = [[10, 20, 30], [98, 99]]
print(nums[0][0])

10

In [2]:
print(nums[1][1])

99

In [3]:
nums[1]

[98, 99]

In [7]:
# 2D array with same number of columns for all rows
a = [
    [10, 20],
    [30, 40],
    [50, 60],
]
print(a)

[[10, 20], [30, 40], [50, 60]]

In [8]:
rows = len(a) # 3
cols = len(a[0]) # 2

In [11]:
# Iterate over the rows
for i in range(len(a)):
    print("a[", i, "] = ", a[i], sep='')

a[0] = [10, 20]
a[1] = [30, 40]
a[2] = [50, 60]

In [12]:
# Iterate over the rows
for i in range(len(a)):
    print(a[i])

[10, 20]
[30, 40]
[50, 60]

In [17]:
# Iterate over the rows & columns
for i in range(len(a)):
    # row = a[i]
    # iterate over a[i]
    for j in range(len(a[i])):
        print(a[i][j])

10
20
30
40
50
60

In [20]:
# Iterate over the rows & columns
for i in range(len(a)):
    # row = a[i]
    # iterate over a[i]
    for j in range(len(a[i])):
        print(a[i][j], end=' ')
    print()

10 20
30 40
50 60

In [21]:
# Iterate over the rows & columns & print the square of each element
for i in range(len(a)):
    # row = a[i]
    # iterate over a[i]
    for j in range(len(a[i])):
        print(a[i][j] ** 2, end=' ')
    print()

100 400
900 1600
2500 3600

In [22]:
a = [
    [10, 20],
    [30, 40, 50],
    [60]
]
# Jagged Array

In [23]:
# Iterate over the rows & columns
for i in range(len(a)):
    # row = a[i]
    # iterate over a[i]
    for j in range(len(a[i])):
        print(a[i][j], end=' ')
    print()

10 20
30 40 50
60

In [24]:
a = [[10,20], [30, 40]] # 2 * 2
print(len(a))

2

## Rowwise Sum
![](https://scaler.com/topics/images/sum-in-python.webp)

Given a 2D Array, print the sum of each row separately.

In [26]:
a = [
    [10, 20],
    [30, 40],
    [50, 60],
]

In [29]:
for i in range(len(a)):
    # Compute the sum of a[i]
    s = 0
    for j in range(len(a[i])):
        s += a[i][j]
    print(s)

30
70
110

In [32]:
b = [10, 20]

s = 0
for j in range(len(b)):
    s += b[j]
    
print(s)

30

## Maximum of each row

In [33]:
a = [
    [10, 20],
    [30, 40],
    [50, 60],
]

In [36]:
for i in range(len(a)):
    # Maximum of a[i]
    # print(max(a[i])) -> Inbuilt method
    maxOfRow = 0  # initialise with float("-inf") if you have negative values
    for j in range(len(a[i])):
        if maxOfRow < a[i][j]:
            maxOfRow = a[i][j]
            
    print(maxOfRow)

20
40
60

In [39]:
for i in range(len(a)):
    # Maximum of a[i]
    maxOfRow = 0  # initialise with float("-inf") if you have negative values
    # a[i] is a row
    row = a[i]
    
    for j in range(len(row)):
        if maxOfRow < row[j]:
            maxOfRow = row[j]
            
    print(maxOfRow)

20
40
60

In [38]:
b = [10, 20]


maxOfRow = 0  # initialise with float("-inf") if you have negative values
for j in range(len(b)):
    if maxOfRow < b[j]:
        maxOfRow = b[j]

print(maxOfRow)

20

## Minimum of each row

In [40]:
a = [
    [10, 20],
    [30, 40],
    [50, 60],
]

In [43]:
for i in range(len(a)):
    # Minimum of row = a[i]
    row = a[i]
    minOfRow = float('inf')
    
    for j in range(len(row)):
        if row[j] < minOfRow:
            minOfRow = row[j]
    
    print(minOfRow)

10
30
50

# Bonus Reading Material
- map() in Python - https://www.scaler.com/topics/map-function-in-python/
- What is Nested List in Python? - https://www.scaler.com/topics/nested-list-in-python/
- 2D Array in Python- https://www.scaler.com/topics/2d-array-in-python/
- Transpose of a Matrix in Python - https://www.scaler.com/topics/transpose-of-a-matrix-in-python/
- Sum() in Python - https://www.scaler.com/topics/sum-in-python/

# Doubts

In [49]:
a = [10,2,3]
b = a

b.sort()
print(a)
print(b)

print(id(a))
print(id(b))

[2, 3, 10]
[2, 3, 10]
4424779904
4424779904

In [46]:
a = [10,2,3]
b = list(a)

b.sort()
print(a)
print(b)

[10, 2, 3]
[2, 3, 10]

In [47]:
a = [10,2,3]
b = a[::]

b.sort()
print(a)
print(b)

[10, 2, 3]
[2, 3, 10]

In [48]:
print(id(a))
print(id(b))

4424763904
4424779968

In [50]:
a = [10, 2, 3]

b = [0] * 3

In [51]:
b

[0, 0, 0]

In [ ]:
a = [2,5,6,[3,5],7,(4,5,6)]

In [53]:
players=['A','B','C']
players = players + 'D' # list + str -> error
print(players)

TypeError: can only concatenate list (not "str") to list

In [54]:
players=['A','B','C']
players += 'D'
print(players)

['A', 'B', 'C', 'D']

In [55]:
# += with list behaves like the extend()
players=['A','B','C']
players.extend('D')
# extend function takes an iterable
print(players)

['A', 'B', 'C', 'D']

In [56]:
# += with list behaves like the extend()
players=['A','B','C']
players.extend('DE')
# extend function takes an iterable (list, tuple, range, string, etc...)
# string is also an iterable
print(players)

['A', 'B', 'C', 'D', 'E']

In [59]:
a = [10, 20]
print(id(a))
a = a + [5, 6]
# creating a new list
print(a)
print(id(a))

4424779840
[10, 20, 5, 6]
4424451648

In [60]:
a = [10, 20]
print(id(a))
a += [5, 6]
# modifying the original list
print(a)
print(id(a))

4424779840
[10, 20, 5, 6]
4424779840

In [63]:
a = [[10,20], [30, 40]]
a.extend([[50, 60]])

In [64]:
a

[[10, 20], [30, 40], [50, 60]]

In [67]:
a = [5, 2, 9, 10]
minVal = float('inf') # initial value must be higher than all the array values

for i in range(len(a)):
    if a[i] < minVal:
        minVal = a[i]
        
print(minVal)

2