# Recap

#### Quiz 1
```py
i = 0
j = 0
while i <= 2:
    if j%2:
        j += 1
    print(i, ":", j, end=" ")
    i+=1
    j+=1
```

In [ ]:
i = 0
j = 0
while i <= 2:
    if j%2:
        j += 1
    print(i, ":", j, end=" ")
    i+=1
    j+=1

## Ranges

#### Quiz 2
How many numbers are included in the below range?  
`range(11)`

In [ ]:
print(list(range(11)))

#### Quiz 3
```py
print(list(range(7, 8)))
```

In [ ]:
print(list(range(7, 8)))

#### Quiz 4
```py
print(list(range(8, 8)))
```

In [ ]:
print(list(range(8, 8)))

In [ ]:
print(range(8,8))

## Third parameter in range()

In [ ]:
print(list(range(1, 10, 2)))

#### Quiz 5
How many numbers are included in the below range?  
```py
range(1, 11, 2)
```

In [ ]:
print(list(range(1, 11, 2)))

In [ ]:
range(11.5)

#### Quiz 6
What range can NOT be used to generate these numbers: `[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]`?

In [ ]:
# Option 1
print(list(range(1, 11)))

In [ ]:
# Option 2
print(list(range(1, 10)))

In [ ]:
# Option 3
print(list(range(1, 11, 1)))

#### Quiz 7
Which of the options is NOT correct for the range:
```py
range(5, 1)
```

In [ ]:
range(5, 1)

In [ ]:
list(range(5, 1))

# For loops

In [ ]:
print(list(range(5)))

In [ ]:
for i in range(5):
    print(i, end=' ')

#### Quiz 8
Predict the output given input N = 5.
```py
N = int(input())

for i in range(2, N):
    print(i, end=' ')
```

In [ ]:
N = int(input())

for i in range(2, N):
    print(i, end=' ')
    
# start = 2
# end = 5
# step = 1 (by default)

### Print numbers 1 to 10

In [ ]:
for i in range(1, 11):
    print(i, end=' ')

### Print numbers 1 to N

In [ ]:
N = int(input())

for i in range(1, N):
    print(i, end=' ')
    
# range(1,  5)
# start = 1
# end = 5 (not included)

In [ ]:
N = int(input())

for i in range(1, N+1, 1):
    print(i, end=' ')
    
# range(1,  6)
# start = 1
# end = 6 (not included)

### Print perfect squares of numbers from 1 to N

In [ ]:
N = int(input())

for i in range(1, N+1):
    print(i*i, end=' ')
    
# end = 6+1 =

#### Quiz 9
Predict the output.
```py
for i in range(-1, 10, 2):
    print(i, end=' ')
```

In [ ]:
for i in range(-1, 10, 2):
    print(i, end=' ')

### Print multiples of 4 till N

N = 20 -> 4, 8, 12, 16, 20

In [ ]:
N = 80

for i in range(4, N+1, 4):
    print(i, end=' ')

### Print 6 to 1

In [ ]:
# 6 to 1
for i in range(6, 0, -1):
    print(i, end=' ')

#### Quiz 10
Predict the output given input N = 7.

```py
N = int(input())

for i in range(N, 1, -1):
    print(i, end=' ')
```

In [ ]:
N = 7

for i in range(N, 1, -1):
    print(i, end=' ')

### Print N to 1

In [ ]:
N = int(input())

for i in range(N, 0, -1):
    print(i, end=' ')

### Print perfect squares of numbers from N to 1

N = 5 \
25 16 9 4 1

In [ ]:
N = int(input())

for i in range(N, 0, -1):
    print(i*i, end=' ')

#### Quiz 11
For the values of `i` below print the values of `N - i + 1` given `N = 6`.
\
`i: ` 1, 2, 3, 4, 5, 6

**Challenge**\
Try using the result from above quiz to print numbers from N to 1 but using a increasing loop

### Quiz 12
```py
N = 7
s = 0
for i in range(2, N):
    s += i
print(s)
```

In [ ]:
N = 7
s = 0
for i in range(2, N):
    s += i
print(s)

### Sum of even numbers from 1 to N

In [ ]:
N = 10
s = 0

for i in range(2, N+1, 2):
    s = s + i
    
print(s)

### Sum of odd numbers from 1 to N

In [ ]:
N = 5
s = 0

for i in range(1, N+1, 2):
    s = s + i
    
print(s)

In [ ]:
1 + 3 + 5

# Doubts

In [ ]:
N = 523

while N > 0:
    print(N % 10)
    N = N // 10

### Avoiding the last comma

In [ ]:
for i in range(10):
    print(i, end=', ')

In [ ]:
N = 20

for i in range(N):
    if i == N-1:
        print(i)
    else:
        print(i, end=', ')

In [6]:
N = 110
i = 1
while i*i <= N:
    print(i*i, end=', ')
    i += 1

1, 4, 9, 16, 25, 36, 49, 64, 81, 100,

In [9]:
N = 110
i = 1
flag = True
while i*i <= N:
    if not flag:
        print(',',end='')
    print(i*i, end=' ')
    i += 1
    flag = False

1 ,4 ,9 ,16 ,25 ,36 ,49 ,64 ,81 ,100