# Tuples
![](https://scaler.com/topics/images/tuples-in-python.webp)

- Tuples are used to hold together multiple objects. Think of them as similar to lists, but without the extensive functionality that the list class gives you.
- One major feature of tuples is that they are **immutable** like strings i.e. you cannot modify tuples.
- Tuples are defined by specifying items separated by commas within an optional pair of parentheses.
- Tuples are usually used in cases where a statement or a user-defined function can safely assume that the collection of values i.e. the tuple of values used will **not change**.

In [2]:
# ISRO
planets = [
    "Mercury",
    "Venus",
    "Earth",
    "Mars",
    "Jupiter",
    "Saturn",
    "Uranus",
    "Neptune",
    "Pluto"
]

In [3]:
planets

['Mercury',
 'Venus',
 'Earth',
 'Mars',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune',
 'Pluto']

In [4]:
# Intern at ISRO
planets[2] = "Tarun's planet"
print(planets)

['Mercury', 'Venus', "Tarun's planet", 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto']

In [5]:
# Tuple 
planets = (
    "Mercury",
    "Venus",
    "Earth",
    "Mars",
    "Jupiter",
    "Saturn",
    "Uranus",
    "Neptune",
    "Pluto"
)

In [7]:
print(planets, type(planets))

('Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto') <class 'tuple'>

In [8]:
planets[2] = "Tarun's planet"
print(planets)

TypeError: 'tuple' object does not support item assignment

In [9]:
t = (5, 8, "hello", -5.9)
print(t)

(5, 8, 'hello', -5.9)

In [10]:
t[0] = 345

TypeError: 'tuple' object does not support item assignment

In [12]:
print(t[0]) # 5
print(t[2]) # hello
print(t[-1]) # -5.9

5
hello
-5.9

In [13]:
t = (9, 2, 3, 4, 6)
for x in t:
    print(x, end=' ')

9 2 3 4 6

In [14]:
len(t)

5

### Important Tuple methods
- index()
- count()
- slicing

In [15]:
t = (6, 7, 6, 1, 3)
print(t.index(6))

0

In [16]:
t = (6, 7, 6, 1, 3)
t.count(6)

2

In [19]:
# Tuple slicing gives you a new tuple
t[2:]

(6, 1, 3)

In [20]:
t[::-1]

(3, 1, 6, 7, 6)

### How to create a tuple
1. Using round brackets
2. Using tuple()
3. Using comma separated values

In [21]:
# Empty tuple
t = tuple()
print(t, type(t))

() <class 'tuple'>

In [23]:
l = [2,6,1,8,9,3]
t = tuple(l)
print(t, type(t))

(2, 6, 1, 8, 9, 3) <class 'tuple'>

In [24]:
# Empty tuple
t = ()
print(t, type(t))

() <class 'tuple'>

In [25]:
t = 9, 2, 5, 1
print(t, type(t))

(9, 2, 5, 1) <class 'tuple'>

In [ ]:
# Swapping two variables
a, b = b, a

In [26]:
def foo():
    return 1,2,3

bar = foo()
print(bar)

(1, 2, 3)

#### Quiz 1
```py
t = ("Sahil")
type(t)
```

In [27]:
t = ("Sahil")
type(t)

str

In [29]:
t = ("Sahil",)
type(t)

tuple

In [30]:
len(t)

1

In [31]:
t = "Sahil",
type(t)

tuple

In [28]:
x = ((9+2)/3)
print(x)

3.6666666666666665

#### Quiz 2
What is the output of the following?

```py
print(type((1,2,3)))
```

In [32]:
x = (1,2,3)
print(type(x))

<class 'tuple'>

In [ ]:
x = 5
y = 5,

#### Quiz 3
```py
T1 = (1) 
T2 = (3, 4) 
T1 += 5
print(T1)
```

In [34]:
T1 = (1) # 1 (int)
T1 += 5
print(T1)

6

In [33]:
T1 = (1) 
print(T1, type(T1))

1 <class 'int'>

#### Quiz 4
```py
t=tuple(range(1, 10, 2))
print(t)
```

In [35]:
t = tuple(range(1, 10, 2))
print(t)

(1, 3, 5, 7, 9)

#### Quiz 5
What is the result of the following expression?

```py
tuple('hello world')
```

In [37]:
tuple('hello world')

('h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd')

In [39]:
tuple('hello,world')

('h', 'e', 'l', 'l', 'o', ',', 'w', 'o', 'r', 'l', 'd')

In [41]:
tuple('hello world'.split())

('hello', 'world')

In [42]:
'hello world'.split()

['hello', 'world']

In [40]:
tuple([7, 8, 1])

(7, 8, 1)

In [38]:
list('hello world')

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [36]:
for ch in 'hello world':
    print(ch, end='_')

h_e_l_l_o_ _w_o_r_l_d_

#### Quiz 6
```py
t = (3, 4, 6, 7, 3)
print(t[::2])
```

In [43]:
t = (3, 4, 6, 7, 3)
print(t[::2])

(3, 6, 3)

In [44]:
t = (1,2,3)
t = t + (4,5,6)
print(t)

(1, 2, 3, 4, 5, 6)

In [47]:
t = 1,2,3,4
print(t, type(t))

(1, 2, 3, 4) <class 'tuple'>

In [46]:
# Tuple destructuring
a,b,c,d = t
print(a)
print(b)
print(c)
print(d)

1
2
3
4

In [ ]:
a,b,c = 1,2,3

In [48]:
a,b = 10,20,30

ValueError: too many values to unpack (expected 2)

In [49]:
a,b,c = 10,20

ValueError: not enough values to unpack (expected 3, got 2)

In [51]:
students = (
    (1, "Thor"),
    (2, "Spiderman"),
    (3, "Captain America"),
    (4, "Hulk"),
)

In [54]:
# Print all student's role numbers with their names
for item in students:
    print(f"Roll no {item[0]} is {item[1]}")

Roll no 1 is Thor
Roll no 2 is Spiderman
Roll no 3 is Captain America
Roll no 4 is Hulk

In [55]:
for roll, name in students:
    print(f"Roll no {roll} is {name}")

Roll no 1 is Thor
Roll no 2 is Spiderman
Roll no 3 is Captain America
Roll no 4 is Hulk

## Bonus Reading Material for Tuples
- Data Structures in Python - https://www.scaler.com/topics/data-structures-in-python/
- Tuples in Python - https://www.scaler.com/topics/python/tuples-in-python/
- What is the Difference Between List and Tuple in Python? - https://www.scaler.com/topics/difference-between-list-and-tuple-in-python/
- Convert List to Tuple in Python - https://www.scaler.com/topics/convert-list-to-tuple-python/
- WtfPython: Mutating the immutable! - https://github.com/satwikkansal/wtfpython#-mutating-the-immutable
- WtfPython: Needles in a Haystack - https://github.com/satwikkansal/wtfpython#-needles-in-a-haystack-

# Sets
![](https://scaler.com/topics/images/set-in-python.webp)

In [56]:
s = {1, 7, 8, -100, 'hello', 9.7}
print(s, type(s))

{'hello', 1, 7, 8, 9.7, -100} <class 'set'>

In [57]:
# To create an empty set
s = {}
print(s, type(s))
# This creates an empty dictionary

{} <class 'dict'>

In [58]:
# Empty set
s = set()
print(s, type(s))

set() <class 'set'>

In [60]:
s = {1,6,3}
print(s, type(s))

{1, 3, 6} <class 'set'>

Sets can only store unique values

In [61]:
s = {1,7,8,8,8,7,1,4,7,1,1,4,8,4}
print(s)

{8, 1, 4, 7}

In [62]:
len(s)

4

Important methods
- add()
- remove()
- in

In [63]:
s = {10, 20, 30, 40, -50}
s

{-50, 10, 20, 30, 40}

In [64]:
s.add(100)
print(s)

{20, 100, 30, 40, 10, -50}

In [67]:
s.add(10)
s

{-50, 10, 20, 30, 40, 100}

In [68]:
s.add(20)
s

{-50, 10, 20, 30, 40, 100}

In [70]:
s = {-50, 10, 20, 30, 40, 100}
s.remove(20)
print(s)

{100, 30, 40, 10, -50}

In [71]:
s.remove(1000)
print(s)
# gives an error if the value if not present

KeyError: 1000

In [72]:
s = {-50, 10, 20, 30, 40, 100}
s.discard(20)
print(s)
# Works the exact same way as 'remove' in case the value is present

{100, 30, 40, 10, -50}

In [73]:
s.discard(1000)
# If the value is not present -> nothing

In [74]:
print(s)

{100, 30, 40, 10, -50}

In [75]:
s = {-50, 10, 20, 30, 40, 100}

In [76]:
10 in s

True

In [77]:
100 in s

True

In [78]:
1000 in s

False

In [79]:
s = {-50, 10, 20, 30, 40, 100}

In [80]:
s[0]

TypeError: 'set' object is not subscriptable

In [84]:
s = {-50, 10, 20, 30, 40, 100, 90, 'hello', 9.6, 5.4}

In [85]:
for x in s:
    print(x, end=' ')

hello 100 5.4 40 9.6 10 -50 20 90 30

In [86]:
s.pop()
# It will pop a random value

'hello'

In [87]:
x = 100
if x in s:
    print("100 is present")
else:
    print("100 is not present")

100 is present

In [88]:
s = set()
s.add(50)
print(s)

{50}

### TV Series recommendation
You ask 2 friends for a TV Series recommendation

In [89]:
A = {
    "Breaking Bad",
    "Better Call Saul",
    "Dark"
}

B = {
    "Sherlock",
    "Dark",
    "The Office"
}

In [94]:
C = A | B
# C = A.union(B)
# C = B.union(A)
print(C)

{'Better Call Saul', 'Dark', 'The Office', 'Sherlock', 'Breaking Bad'}

In [98]:
D = A & B
# D = A.intersection(B)
# D = B.intersection(A)
print(D)

{'Dark'}

In [101]:
E = A - B
# E = A.difference(B)
print(E)

{'Better Call Saul', 'Breaking Bad'}

In [100]:
F = B - A
# F = B.difference(A)
print(F)

{'The Office', 'Sherlock'}

In [102]:
G = A ^ B
print(G)

{'The Office', 'Breaking Bad', 'Better Call Saul', 'Sherlock'}

### Quiz 7
What is the output of the following?
```py
a = {1,2,3}
b = {3,4,5}
print(a-b)
print(a.union(b))
print(a.intersection(b))
```

In [103]:
a = {1,2,3}
b = {3,4,5}
print(a-b) # 1,2
print(a.union(b)) # 1,2,3,4,5
print(a.intersection(b)) # 3

{1, 2}
{1, 2, 3, 4, 5}
{3}

#### Quiz 8
What is the value of x in the code snippet below?
```py
set1 = {1, 2, 3, 4, 5, 6}
set2 = {2, 4, 5, 6, 7}
x = set1 | set2
```

In [104]:
# | = union
set1 = {1, 2, 3, 4, 5, 6}
set2 = {2, 4, 5, 6, 7}
x = set1 | set2

In [105]:
x

{1, 2, 3, 4, 5, 6, 7}

### Count unique
Given an array, count unique elements in it.

In [106]:
def countUnique(arr):
    s = set(arr)
    return len(s)

In [107]:
countUnique([5, 6, 5, 2, 3]) # 4

4

In [108]:
countUnique([7, 7, 7, 7]) # 1

1

In [109]:
def countUnique(arr):
    return len(set(arr))

In [110]:
countUnique("hhelllo")

4

## Bonus Reading Material for Sets
- set() in Python - https://www.scaler.com/topics/set-in-python/
- Sets in Python - https://www.scaler.com/topics/python/sets-in-python/
- Set to List Python - https://www.scaler.com/topics/set-to-list-python/
- Convert List to Set Python - https://www.scaler.com/topics/convert-list-to-set-python/
- frozenset() in Python - https://www.scaler.com/topics/frozenset-in-python/
- Python Set difference() - https://www.scaler.com/topics/python-set-difference/
- union() in Python - https://www.scaler.com/topics/union-in-python/
- intersection() in Python - https://www.scaler.com/topics/intersection-in-python/
- symmetric_difference() Python - https://www.scaler.com/topics/symmetric-difference-python/

# Doubts

In [113]:
l = [6,5,2]
x = l.pop()
print(x)

print(x ** 2)

2
4

In [111]:
print(l.pop())

3

In [115]:
t = ()
t += (5,6,)
print(t)
# Creating a new tuple

(5, 6)

In [116]:
# String formatting
# .format()
# f-string
x = 5
y = 2

print(f"Random string x = {x} and y = {y}")

Random string x = 5 and y = 2